<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="SearchStation" fileName="logs/search.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="MistakeStation" fileName="logs/input_errors.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>


        <File name="ExceptionLogg" fileName="logs/exceptions.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </appenders>

    <loggers>

        <logger name="SearchStation" level="info">
            <appender-ref ref="SearchStation"/>
        </logger>


        <logger name="MistakeStation" level="info">
            <appender-ref ref="MistakeStation"/>
        </logger>


        <logger name="ExceptionLogg" level="info">
            <appender-ref ref="ExceptionLogg"/>
        </logger>


        <root level="info">
            <appender-ref ref="Console"/>
        </root>

    </loggers>
</configuration>